{{ users | json }}

<form class="w-50 mx-auto my-4" #loginForm="ngForm" nz-formclass="login-form" (ngSubmit)="submitForm()">
   <nz-form-item>
     <nz-form-control nzErrorTip="Please input your username!">
       <nz-input-group nzPrefixIcon="user">
         <input type="text" nz-input [(ngModel)]="users.email" name="email" placeholder="Email" />
       </nz-input-group>
     </nz-form-control>
   </nz-form-item>
   <nz-form-item>
     <nz-form-control nzErrorTip="Please input your Password!">
       <nz-input-group nzPrefixIcon="lock">
         <input type="password" [(ngModel)]="users.password" nz-input name="password" placeholder="Password" />
       </nz-input-group>
     </nz-form-control>
   </nz-form-item>
   <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
   Or
   <a routerLink="/register">register now!</a>
 </form>